<!-- _promote_form.html.erb -->

<%= form_tag promote_student_path(id: student.id), method: :post do %>
  <div class="form-group">
    <%= label_tag :new_class_id, 'Select Promoted Class' %>
    <%= select_tag :new_class_id, options_for_select(ClassField.all.map { |c| [c.name, c.id] }), class: 'form-control' %>
  </div>
  <%= submit_tag 'Promote', class: 'btn btn-primary' %>
<% end %>
