<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject_master.name %>
</p>

<%= link_to 'Edit', edit_subject_master_path(@subject_master) %> |
<%= link_to 'Back', subject_masters_path %>
