

<h4> <%= @greeting %> <%= @student.parent_name.upcase %>    </h4>

<p>
  Please find the attached report for your ward, <%= @student_name[0].first_name %> <%= @student_name[0].last_name %>
</p>

<p> Yours Sincerely,</p>
<p> Admin, Gloria</p>
<p> WINKLES SCHOOL</p>