




  
    <div class="container-fluid page-body-wrapper full-page-wrapper ">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-8 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="/assets/gfa.jpeg" alt="logo">
              </div>
              <h4>Hello! let's get started</h4>
              <h6 class="font-weight-light">Sign in to continue.</h6>
                   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="form-group">
                            <label>Username</label>
                          
                            <%= f.text_field :username, autofocus: true, autocomplete: "Username" ,class:"form-control form-control-lg", id:"exampleInputEmail1" %>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                           
                              <%= f.password_field :password, autocomplete: "current-password",class:"form-control form-control-lg", id:"exampleInputEmail1"  %>
                        </div>
                       
                        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Sign in</button>
                    
                        
                 <% end %>
          
            </div>
          </div>
        </div>
      </div>
    
    </div>


  


    


